<h1>A kör alapú henger</h1>

<p>A kör alapú henger felszínének számítása</p>

<div class="hengerForm">
    <div class="form-group">
        <label for="radius"></label>
        <input type="number" class="form-control" id="radius" [(ngModel)]="radius">
    </div>

    <div class="form-group">
        <label for="length"></label>
        <input type="number" class="form-control" id="length" [(ngModel)]="length">
    </div>

    <div>
        <button class="btn btn-primary my-3" (click)="startCalc()">Számítás</button>
    </div>

    <div class="input-group">
        <span class="input-group-text">Felszín</span>
        <input type="number" class="form-control" id="surface" [(ngModel)]="surface">
        <span class="input-group-text">cm<sup>2</sup></span>
    </div>
</div>